extends layout

block content
  .container__principal
    .login
      h1.title.title--big The Readers
      .login__content
        form(method='POST', name='changePassForm')
          label(for='password') Password:
          input.form__element.form__element--primary(id='password', placeholder='•••••••••••••••', type='password', required)
          label(for='repeatPassword') Repeat Password:
          input.form__element.form__element--primary(id='repeatPassword', placeholder='•••••••••••••••', type='password', required)
          .centered__block.centered__text.mt-1
            a.btn.btn--primary.mt-1.no-link(href='/') Change
