extends layout

block content
  .container__principal#error-content
    .centered__text
      h1.title.title--error#title-error= error.status
      h1.mt-0 Oops... #{message}
      a.btn.btn--primary.mt-1 Return
      //pre #{error.stack}
  script(src='/javascripts/error.js')
