extends layout

block content
  div.container__principal
    div.login
      h1.title.title--big= title
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente omnis similique nostrum? Earum quod quis, eaque sapiente velit soluta facere facilis maiores laboriosam quos, dolores eum magnam nostrum, omnis accusamus!
