extends layout

block content
  include navbar.pug
  .container
    .container__header
      h1.container__title Messages
      .input-group
        input.form__element(id='search', placeholder='Search...', type='text')
        button.btn #[i.fa.fa-search]

block scripts
  script(src='/javascripts/messages.js')