ul.navbar
  li.navbar__element
    a.navbar__link.navbar__link--title(href="#") The Readers 
  li.navbar__element
    a.navbar__link(href="#") #{username} #[i.fa.fa-caret-down]
  li.navbar__element
    a.navbar__link(href="#") #[i.fa.fa-envelope] Messages
  li.navbar__element
    a.navbar__link.navbar__link--active(href="#") #[i.fa.fa-user] Profile