ul.navbar
  a.navbar__title(href="/users") The Readers
  li.navbar__element
    a.navbar__link.pos__relative(href="/messages") #[i.fa.fa-envelope] Messages
      span.navbar__message
  li.navbar__element.pos__relative
    a.navbar__link#link--submenu Beyoncé Knowless #[i.fa.fa-caret-down]
    ul.submenu
      li.submenu__element #[a.submenu__link(href="/users/beyonce_knowless17") Profile]
      li.submenu__element #[a.submenu__link(href="/users/changepassword") Change Password]
      li.submenu__element #[a.submenu__link(href="/") Close Session]

button.btn.btn--scrollUp #[i.fa.fa-chevron-up]
