extends layout

block content
  include navbar.pug
  .container
    .headerUser.centered__text
      h2.title.title--medium Beyoncé Knowless
      h3.m-0= username
      img.headerUser__img(src='https://specials-images.forbesimg.com/imageserve/59f4e6c24bbe6f37dda1445b/416x416.jpg?background=000000&cropX1=21&cropX2=1975&cropY1=210&cropY2=2164', alt='User')
      p.headerUser__content
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus cum iusto voluptatem hic nulla iste dolores odit qui, temporibus, porro placeat autem illum. Eligendi hic repellat quam eveniet tempora optio?
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus cum iusto voluptatem hic nulla iste dolores odit qui, temporibus, porro placeat autem illum. Eligendi hic repellat quam eveniet tempora optio?

    .container__books
      each val, index in ['one', 'two', 'three', 'four', 'five', 'one', 'two', 'three', 'four', 'five']
        .book__item
          .book
            <!-- Front -->
            ul.no__list.book__front
              li
                img.book__cover(src="https://www.thesun.co.uk/wp-content/uploads/2018/02/nintchdbpict000301512188.jpg?strip=all&w=864", alt="Cover book")
              li
            <!-- Pages -->
            ul.no__list.book__pages
              li
              li
                h3 Name: 
                  br
                  | Biography of Lady Gaga
                h4 Author:
                  br
                  | Lady Gaga
                p 
                  strong Opinion: 
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sequi ex minus neque cupiditate aliquam enim harum, voluptate asperiores. Earum architecto laborum suscipit quis enim recusandae. Mollitia voluptas dolore itaque.Perferendis minus sint eum explicabo est dolores inventore deleniti nemo deserunt distinctio, qui odit commodi quisquam at possimus laborum a molestiae fuga natus officia, sequi amet! Iusto ex recusandae vero!

              li
              li
              li
            <!-- Back -->
            ul.no__list.book__back
              li
              li
            <!-- Guard -->
            ul.no__list.book__guard
              li
              li

block scripts
  script(src='/javascripts/index.js')
  script(src='/javascripts/profile.js')