extends layout

block content
  include navbar.pug
  .container
    h1.container__title Users
    .container__card
      .card
        img.card__img(src='http://lorempixel.com/150/150/people/', alt='User')
        .card__info
          h2.card__username jane_doe
          span.card__username--online