extends layout

block content
  include navbar.pug
  .container
    .container__header
      h1.container__title Users
      .input-group
        input.form__element(id='search', placeholder='Search...', type='text')
        button.btn #[i.fa.fa-search]
  
    .container__card
      each val, index in ['one', 'two', 'three', 'four', 'five', 'one', 'two', 'three', 'four', 'five']
        .card(data-ref='card_' + index)
          img.card__img.addClassActive(data-ref='card_' + index, src='https://specials-images.forbesimg.com/imageserve/59f4e6c24bbe6f37dda1445b/416x416.jpg?background=000000&cropX1=21&cropX2=1975&cropY1=210&cropY2=2164', alt='User')
          h2.m-0.centered__text.card__fullname Beyoncé Knowless
          .card__content
            .card__header
              div
                h2.m-0 Beyoncé Knowless
                h3.m-0 beyonce_knowless17
              div
                a.link.card__link#showChat #[i.fa.fa-comments]
                a.link.card__link(href='/users/beyonce_knowless17') #[i.fa.fa-user]
                a.link.card__link.removeClassActive #[i.fa.fa-long-arrow-left(data-ref='card_' + index)]
            .card__description
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus cum iusto voluptatem hic nulla iste dolores odit qui, temporibus, porro placeat autem illum. Eligendi hic repellat quam eveniet tempora optio?
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus cum iusto voluptatem hic nulla iste dolores odit qui, temporibus, porro placeat autem illum. Eligendi hic repellat quam eveniet tempora optio?

  .chat
    .chat__header
      h4.m-0 Beyoncé Knowless
      a.link.link--danger#hideChat #[i.fa.fa-times-circle]
    .chat__content
      p.chat__message.chat__message--sender
        | Hi, how are you?
      p.chat__message.chat__message--receiver
        | Lorem ipsum dolor sit amet consectetur adipisicing elit.
        | Nostrum aut nulla laudantium officia nobis?
      p.chat__message.chat__message--receiver
        | Alias illo at necessitatibus deleniti doloribus nam voluptatibus, modi culpa mollitia praesentium perferendis quos sunt consequatur ipsa minima fugit dolorem sed numquam?
      p.chat__message.chat__message--sender
        | Totam asperiores quas aspernatur fugit eius placeat quibusdam quidem illum vel assumenda quae, officia corrupti nam, praesentium consequatur laborum. Reiciendis, nesciunt distinctio.
    .chat__footer
      input.form__element(id='sendMessage', placeholder='...', type='text')
      button.btn #[i.fa.fa-paper-plane]

block scripts
  script(src='/javascripts/index.js')
  script(src='/javascripts/users.js')