@import 'variables';

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  background-color: $light-color;
  color: $black;
  line-height: $line-height;
}

h1, h2, h3 {
  line-height: $line-height-title;
}

label {
  font-size: .85rem;
  margin-left: .25rem;
}

.form__element {
  border: .04rem solid $black;
  border-radius: $border-radius-general;
  display: block;
  line-height: $line-height-form;
  width: 100%;
  color: $black;
  padding: .25rem .5rem;
  font-size: 1rem;
  margin-bottom: .2rem;
  resize: none;
  background-color: $white;
  
  &:focus {
    outline: none;
    box-shadow: 0 0 .5rem lighten($optional-color, 3%);
  }

  @at-root #{&}--primary {
    border-color: lighten($primary-color, 2%);

    &:focus { box-shadow: 0 0 .5rem lighten($primary-color, 3%); }
  }
}

.input-group {
  display: flex;

  & .form__element {
    border-right: none;
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    & + .btn {
      padding: 0 .5rem;
      border-left: none;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      color: $white;
      background-color: $secondary-color;
      &:hover, &:active, &:focus { background-color: lighten($secondary-color, 15%); }
    }
  }
}

.btn {
  font-size: 1rem;
  border-radius: $border-radius-general;
  background-color: transparent;
  color: $black;
  border: .05rem solid $black;
  padding: .5rem .85rem;
  cursor: pointer;
  transition: .25s all;

  &:focus, &:hover, &:active {
    outline: none;
  }

  @at-root #{&}--primary {
    color: $primary-color;
    border: .05rem solid $primary-color;

    &:focus, &:hover, &:active {
      background-color: $primary-color;
      color: $black;
      box-shadow: 0 0 2rem lighten($primary-color, 3%);
    }
  }

  @at-root #{&}--scrollUp {
    border-radius: 50%;
    background-color: $dark-primary-color;
    color: $white;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: .7rem;
    opacity: 0;

    &:focus, &:hover, &:active {
      background-color: lighten($dark-primary-color, 5%);
      box-shadow: .1rem 0.3rem 1rem 0 rgba(0, 0, 0, .5);
    }
  }
}

.link {
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  color: inherit;
  transition: .25s all;

  &:focus, &:hover, &:active { font-weight: $font-weight-bold; }

  @at-root #{&}--primary {
    color: $primary-color;

    &:focus, &:hover, &:active {
      text-decoration: underline;
      font-weight: $font-weight-bold;
    }
  }

  @at-root #{&}--danger {
    &:focus, &:hover, &:active {
      color: $danger-color;
      font-weight: $font-weight-bold;
    }
  }
}

.container__principal {
  display: flex;
  min-height: 100vh;
  max-height: 100%;
  align-items: center;
  justify-content: center;
  background-color: $dark-color;
  color: $white;

  & .login {
    width: 30rem;
    border: .05rem solid lighten($primary-color, 2%);
    border-radius: $border-radius-general;
    padding: 1rem 2rem;
    margin: 1rem 0;
    box-shadow: 0 0 3rem lighten($primary-color, 3%);

    @at-root #{&}__content {
      padding: 0 4rem;

      form { transition: transform .3s linear; }
    }

    .form__hide {
      transform: scale(0);
    }

    @at-root #{&}__buttons {
      display: flex;
      justify-content: space-between;
    }
  }
}

.title {
  font-family: $font-title;
  margin: 0;
  text-align: center;
  color: $primary-color !important;
  text-shadow: .2rem .2rem .8rem lighten($primary-color, 2%);
  @at-root #{&}--big {
    font-size: 4.3rem;    
  }
  @at-root #{&}--error {
    font-size: 10rem;    
  }
}

.input__file {
  display: none;

  & + label {
    width: 8rem;
    height: 8rem;
    border: .05rem solid lighten($primary-color, 2%);
    display: block;
    margin: auto;
    cursor: pointer;
    font-size: 4rem;
    text-align: center;

    &:hover {
      border-style: dashed;
      border-color: $white;
    }
  }
}

/* Navbar styles */
.navbar {
  list-style: none;
  margin: 0;
  padding: .5rem 0;
  background-color: $dark-color;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;

  @at-root #{&}__title {
    @extend .title;
    flex: 1;
    font-size: 2rem;
    text-align: left;
    padding-left: 1rem;
  }

  @at-root #{&}__link {
    color: $white;
    text-align: center;
    padding: 1.05rem;
    text-decoration: none;
    margin-right: -.07rem;
    cursor: pointer;
    
    &:hover:not(.navbar__link--active), &:active {
      color: $primary-color;
      font-weight: $font-weight-bold;
    }

    @at-root #{&}--active { background-color: lighten($secondary-color, 7%); }
  }

  @at-root #{&}__message {
    width: .8rem;
    height: .8rem;
    background-color: $danger-color;
    border-radius: 50%;
    color: $white;
    position: absolute;
    left: 1.6rem;
  }
}

.submenu {
  list-style: none;
  margin: 0;
  padding-left: .3rem;
  padding-right: .3rem;
  background-color: $secondary-color;
  position: absolute;
  top: 2.8rem;
  right: 0;
  width: 10rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s linear;

  @at-root #{&}--visible {
    opacity: 1;
    visibility: visible;
  }

  &::before {
    content: '';
    position: absolute;
    top: -.6rem;
    right: .8rem;
    width: 0;
    height: 0;
    border-left: .6rem solid transparent;
    border-right: .6rem solid transparent;
    border-bottom: .6rem solid $secondary-color;
  }

  @at-root #{&}__element {
    border-bottom: .07rem solid $white;
    padding: .4rem .6rem;

    &:last-child { border-bottom: none; }
  }

  @at-root #{&}__link {
    color: $white;
    text-decoration: none;
    cursor: pointer;
    
    &:hover, &:active {
      color: $primary-color;
      font-weight: $font-weight-bold;
    }
  }
}
/* End navbar */

.container {
  padding: 4rem 3rem 2rem;
  
  @at-root #{&}__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @at-root #{&}__title {
    @extend .title;
    text-shadow: none;
    margin-bottom: 1.5rem;
    font-size: 3.5rem;
    color: $dark-color !important;
  }

  @at-root #{&}__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .8rem;
    align-items: center;
  }
}

.card {
  background-color: $white;
  box-shadow: .1rem 0.3rem 1rem 0 rgba(0, 0, 0, .14);
  padding: 1rem;
  border-radius: .3rem;

  @at-root #{&}--active {
    .card__img { transform: scale(0) rotate(720deg); }
    .card__fullname { display: none; }
    .card__content { display: block; }
  }
  @at-root #{&}--activeEnd {
    .card__img { display: none; }
    .card__content { transform: scale(1); }
  }

  @at-root #{&}__fullname {
    opacity: 1;
    transition: opacity .3s linear;
  }

  @at-root #{&}__img {
    width: 10rem;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    transform: scale(1) rotate(0);
    transition: transform .3s linear;

    &:hover {
      cursor: pointer;
      box-shadow: .1rem 0.3rem 1rem 0 rgba(0, 0, 0, .5);
    }
  }

  @at-root #{&}__link {
    color: $secondary-color;
    margin: 0 .2rem;

    &:focus, &:hover, &:active {
      text-decoration: underline;
      color: lighten($secondary-color, 30%);
    }
  }

  @at-root #{&}__content {
    display: none;
    transform: scale(0);
    transition: transform .3s linear;
  }

  @at-root #{&}__header {
    display: flex;
    justify-content: space-between;
  }

  @at-root #{&}__description {
    margin-top: .5rem;
    max-height: 10rem;
    overflow-y: auto;
  }
}

// Chat
.chat {
  border: .05rem solid $black;
  position: fixed;
  bottom: -24rem;
  right: 5rem;
  width: 16rem;
  background-color: $white;
  transition: bottom .4s linear;

  @at-root #{&}--show {
    bottom: 0;
  }

  @at-root #{&}__header {
    background-color: $secondary-color;
    color: $white;
    display: flex;
    justify-content: space-between;
    padding: .3rem;
  }

  @at-root #{&}__content {
    padding: .3rem .7rem;
    max-height: 17rem;
    overflow-y: auto;
  }

  @at-root #{&}__footer {
    @extend .input-group;
    padding: .4rem .7rem;
    border-top: .05rem solid $secondary-color;
    & .form__element + .btn { padding: 0 .5rem 0 .3rem; }
  }

  @at-root #{&}__message {
    margin: 0;
    padding: .3rem;
    margin-bottom: .5rem;
    border-radius: .2rem;
    width: 85%;
    position: relative;
    font-size: .9rem;

    &::before {
      content: '';
      position: absolute;
      top: .4rem;
      border-top: .4rem solid transparent;
      border-bottom: .4rem solid transparent;
    }

    @at-root #{&}--receiver {
      background-color: darken($light-color, 5%);
      margin-left: 2rem;
      &::before {
        right: -.5rem;
        border-left: .6rem solid darken($light-color, 5%);
      }
    }

    @at-root #{&}--sender {
      background-color: darken($optional-color, 17%);
      color: $white;
      &::before {
        left: -.5rem;
        border-right: .6rem solid darken($optional-color, 17%);
      }
    }
  }
}