@import 'variables';

/*
  Styles for the book effect.
  Adapted from https://tympanus.net/codrops/2013/07/11/animated-books-with-css-3d-transforms/
*/

@mixin positionsGenerals() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

@mixin addPrefix($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  #{$property}: $value;
}

.container__books {
  @extend .container__card;
  grid-template-columns: repeat(2, 1fr);
}

.book__item {
  padding: 1rem;
  margin: .5rem auto;
}

.book {
  position: relative;
  width: 14rem;
  height: 17rem;
	perspective: 62.5rem;
  transform-style: preserve-3d;
  
  &:hover {
    & > .book__front {
      @include addPrefix(transform, rotateY(-145deg) translateZ(0));
      z-index: 0;
    }
    & > .book__pages li {
      &:nth-child(1) {
        @include addPrefix(transform, rotateY(-30deg));
        @include addPrefix(transition-duration, 1.5s);
      }
      &:nth-child(2) {
        @include addPrefix(transform, rotateY(-35deg));
        @include addPrefix(transition-duration, 1.8s);
      }
      &:nth-child(3) {
        @include addPrefix(transform, rotateY(-118deg));
        @include addPrefix(transition-duration, 1.6s);
      }
      &:nth-child(4) {
        @include addPrefix(transform, rotateY(-130deg));
        @include addPrefix(transition-duration, 1.4s);
      }
      &:nth-child(5) {
        @include addPrefix(transform, rotateY(-140deg));
        @include addPrefix(transition-duration, 1.2s);
      }
    }
  }

  @at-root #{&}__cover {
    width: 100%;
    height: 100%;
  }
  
  @at-root #{&}__front {
    @include positionsGenerals();
    
    transform: rotateY(-34deg) translateZ(.6rem);
    z-index: 100;
    transform-origin: 0% 100%;
    transition: all 0.8s ease, z-index 0.6s;

    & li {
      @include positionsGenerals();
      &:first-child, &:last-child {
        &:before {
          background-color: $gray-guard;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      &:first-child {
        background-color: $white;
        @include addPrefix(backface-visibility, hidden);
        cursor: pointer;
        @include addPrefix(user-select, none);
        transform: translateZ(.125rem);

        &:after, &:before {
          width: .25rem;
          height: 100%;
        }

        &:after { transform: rotateY(90deg) translateZ(9.875rem) translateX(.125rem); }

        &:before { transform: rotateY(90deg) translateZ(13.87rem) translateX(0.125rem); }
      }

      &:last-child {
        background-color: $front-reverse;
        transform: rotateY(180deg) translateZ(.125rem);

        &:before {
          height: 80%;
          box-shadow: 0 -1.87rem 1.87rem 0.8rem rgba(0, 0, 0, 0.4);
          transform: rotateX(90deg) rotateZ(90deg) translateZ(-10.2rem) translateX(-1.125rem) translateY(-4.5rem);
        }
      }
    }
  }

  @at-root #{&}__pages {
    @include positionsGenerals();
    height: 98%;
    top: 1%;
    left: 3%;
    z-index: 10;

    li {
      background: linear-gradient(to right, $page-init , $page-end);      
      box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1), inset -1px 0px 1px rgba(150, 150, 150, 0.2);
      border-radius: 0 .4rem .4rem 0;
      @include addPrefix(transform-origin, left center);
      @include addPrefix(transition-property, transform);
      @include addPrefix(transition-timing-function, ease);
      @include positionsGenerals();

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) { transform: rotateY(-#{26 + ($i*2)}deg); }
      }

      &:nth-child(1), &:nth-child(2), &:nth-child(5) { transition-duration: 0.6s; }
      &:nth-child(3) { transition-duration: 0.4s; }
      &:nth-child(4) { transition-duration: 0.5s; }

      &:nth-child(2) { overflow-y: auto; }

    }
  }

  @at-root #{&}__back {
    @include positionsGenerals();
    transform: rotateY(-15deg) translateZ(-.5rem);
    transform-origin: 0% 100%;

    li {
      @include positionsGenerals();

      &:first-child, &:last-child {
        background-color: $front-reverse;
        &:after, &:before {
          background-color: $gray-guard;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      &:first-child {
        transform: translateZ(.125rem);
  
        &:after, &:before {
          width: .35rem;
          height: 100%;
        }

        &:after { transform: rotateY(90deg) translateZ(-0.125rem) translateX(-0.125rem); }

        &:before { transform: rotateY(90deg) translateZ(13.875rem) translateX(0.125rem); }
      }
      &:last-child {
        transform: translateZ(-.125rem);
        
        &:after {
          height: 100%;
          transform: rotateX(90deg) rotateZ(90deg) translateZ(5rem) translateX(.125rem) translateY(-4.78rem);
        }
        &:before {
          box-shadow: 0.65rem -0.05rem 5rem 1.2rem #666;
          transform: rotateX(90deg) rotateZ(110deg) translateZ(-10.5rem) translateX(-1.875rem) translateY(-5.875rem);
          height: 80%;
        }
      }
    }
  }

  @at-root #{&}__guard {
    @include positionsGenerals();
    transform: rotateY(60deg) translateX(-0.3rem) translateZ(-0.8rem);
    width: 2rem;
    z-index: 0;
 
    li {
      @include positionsGenerals();

      &:first-child, &:last-child {
        &:after, &:before {
          background-color: $gray-guard;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 4px;
        }
      }
      &:first-child {
        background-color: $white;
        transform: translateZ(.125rem);

        &:after, &:before { height: 100%; }

        &:after { transform: rotateY(90deg) translateZ(-.125rem) translateX(.125rem); }

        &:before { transform: rotateY(-90deg) translateZ(-.75rem); }
      }
      &:last-child {
        background-color: $black;
        transform: translateZ(-.125rem);

        &:after, &:before { height: 1rem; }

        &:after { transform: rotateX(90deg) rotateZ(90deg) translateZ(-16.5rem) translateX(0.125rem) translateY(-0.45rem); }

        &:before {
          box-shadow: .31rem -.01rem 6.25rem 2.5rem rgba(0, 0, 0, 0.2);
          transform: rotateX(90deg) rotateZ(90deg) translateZ(-16.8rem) translateX(0.125rem) translateY(-0.45rem);
        }
      }
    }
  }
}