@media screen and (max-width: 60rem) {
  .container__card { grid-template-columns: repeat(2, 1fr); }
}

@media screen and (max-width: 40rem) {
  .container__card { grid-template-columns: 1fr; }
}

@media screen and (max-width: 30rem) {
  .login__content { padding: 0 1rem !important; }

  .title--big {font-size: 3rem; }
}

@media screen and (max-width: 30rem) {
  .navbar { 
    flex-direction: column;
    align-items: flex-end;

    @at-root #{&}__title { margin-right: 1rem; }

    @at-root #{&}__link { padding: 0 1rem; }

    .submenu { top: 2.3rem; }
  }
  .container {
    padding: 8rem 1rem 1.5rem;

    @at-root #{&}__title { font-size: 2.5rem; }

    @at-root #{&}__header {
      flex-direction: column;
      margin-bottom: .7rem;
    }
  }
  .form__element--search { width: 90%; }
}