// Colors
$black:                   #191919 !default;
$white:                   #efefef !default;
$primary-color:           #5DCB44 !default;
$secondary-color:         #273D41 !default;
$dark-color:              #282E2C !default;
$dark-primary-color:      #3E232D !default;
$light-color:             #DAEDD9 !default;
$optional-color:          #1BBB9B !default;
$danger-color:            #B92933 !default;

//Colors book
$gray-guard:              #999 !default;
$front-reverse:           #fffbec !default;
$page-init:               #e1ddd8 !default;
$page-end:                #fffbf6 !default;

// Typography
$font-size-base:            100% !default;
$font-base:                 'Palanquin', sans-serif !default;
$font-title:                'Kaushan Script', cursive !default;
$font-weight-base:          400 !default;
$font-weight-thin:          200 !default;
$font-weight-bold:          600 !default;
$line-height:               1.7 !default;
$line-height-form:          1.5 !default;
$line-height-title:         1.3 !default;
$border-radius-general:     .2rem !default;