@import url('https://fonts.googleapis.com/css?family=Palanquin:200,400,600');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import 'variables';

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  background-color: $dark-color;
  color: $light-color;
}

.container__principal {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;

  & .login {
    width: 30rem;
    border: 1pt solid red;
    padding: 1rem 2rem;

  }
}
.title {
  font-family: $font-title;
  margin: 0;
  text-align: center;
  color: $primary-color;
  text-shadow: .2rem .2rem .8rem lighten($primary-color, 2%);
  @at-root #{&}--big {
    font-size: 4rem;    
  }
}
