@import url("https://fonts.googleapis.com/css?family=Palanquin:200,400,600");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
*, *::after, *::before {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Palanquin", sans-serif;
  font-size: 100%;
  font-weight: 400;
  background-color: #DAEDD9;
  color: #191919;
  line-height: 1.7; }

h1, h2, h3 {
  line-height: 1.3; }

label {
  font-size: .85rem;
  margin-left: .25rem; }

.form__element {
  border: 0.04rem solid #191919;
  border-radius: 0.2rem;
  display: block;
  line-height: 1.5;
  width: 100%;
  color: #191919;
  padding: .25rem .5rem;
  font-size: 1rem;
  margin-bottom: .2rem;
  resize: none;
  background-color: #efefef; }
  .form__element:focus {
    outline: none;
    box-shadow: 0 0 0.5rem #1dc8a6; }
  .form__element--primary {
    border-color: #64cd4c; }
    .form__element--primary:focus {
      box-shadow: 0 0 0.5rem #67ce50; }

.input-group, .chat__footer {
  display: flex; }
  .input-group .form__element, .chat__footer .form__element {
    border-right: none;
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; }
    .input-group .form__element + .btn, .chat__footer .form__element + .btn {
      padding: 0 .5rem;
      border-left: none;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      color: #efefef;
      background-color: #273D41; }
      .input-group .form__element + .btn:hover, .chat__footer .form__element + .btn:hover, .input-group .form__element + .btn:active, .chat__footer .form__element + .btn:active, .input-group .form__element + .btn:focus, .chat__footer .form__element + .btn:focus {
        background-color: #446a71; }

.btn {
  font-size: 1rem;
  border-radius: 0.2rem;
  background-color: transparent;
  color: #191919;
  border: 0.05rem solid #191919;
  padding: .5rem .85rem;
  cursor: pointer;
  transition: .25s all; }
  .btn:focus, .btn:hover, .btn:active {
    outline: none; }
  .btn--primary {
    color: #5DCB44;
    border: 0.05rem solid #5DCB44; }
    .btn--primary:focus, .btn--primary:hover, .btn--primary:active {
      background-color: #5DCB44;
      color: #191919;
      box-shadow: 0 0 2rem #67ce50; }
  .btn--scrollUp {
    border-radius: 50%;
    background-color: #3E232D;
    color: #efefef;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: .7rem;
    opacity: 0; }
    .btn--scrollUp:focus, .btn--scrollUp:hover, .btn--scrollUp:active {
      background-color: #4e2c39;
      box-shadow: 0.1rem 0.3rem 1rem 0 rgba(0, 0, 0, 0.5); }

.link {
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  color: inherit;
  transition: .25s all; }
  .link:focus, .link:hover, .link:active {
    font-weight: 600; }
  .link--primary {
    color: #5DCB44; }
    .link--primary:focus, .link--primary:hover, .link--primary:active {
      text-decoration: underline;
      font-weight: 600; }
  .link--danger:focus, .link--danger:hover, .link--danger:active {
    color: #B92933;
    font-weight: 600; }

.container__principal {
  display: flex;
  min-height: 100vh;
  max-height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #282E2C;
  color: #efefef; }
  .container__principal .login {
    width: 30rem;
    border: 0.05rem solid #64cd4c;
    border-radius: 0.2rem;
    padding: 1rem 2rem;
    margin: 1rem 0;
    box-shadow: 0 0 3rem #67ce50; }
    .container__principal .login__content {
      padding: 0 4rem; }
      .container__principal .login__content form {
        transition: transform .3s linear; }
    .container__principal .login .form__hide {
      transform: scale(0); }
    .container__principal .login__buttons {
      display: flex;
      justify-content: space-between; }

.title, .navbar__title, .container__title {
  font-family: "Kaushan Script", cursive;
  margin: 0;
  text-align: center;
  color: #5DCB44 !important;
  text-shadow: 0.2rem 0.2rem 0.8rem #64cd4c; }
  .title--big {
    font-size: 4.3rem; }
  .title--error {
    font-size: 10rem; }
  .title--medium {
    text-shadow: none;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    font-size: 2.5rem;
    color: #282E2C !important; }

.input__file {
  display: none; }
  .input__file + label {
    width: 8rem;
    height: 8rem;
    border: 0.05rem solid #64cd4c;
    display: block;
    margin: auto;
    cursor: pointer;
    font-size: 4rem;
    text-align: center; }
    .input__file + label:hover {
      border-style: dashed;
      border-color: #efefef; }

/* Navbar styles */
.navbar {
  list-style: none;
  margin: 0;
  padding: .5rem 0;
  background-color: #282E2C;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1; }
  .navbar__title {
    flex: 1;
    font-size: 2rem;
    text-align: left;
    padding-left: 1rem;
    text-decoration: none; }
  .navbar__link {
    color: #efefef;
    text-align: center;
    padding: 1.05rem;
    text-decoration: none;
    margin-right: -.07rem;
    cursor: pointer; }
    .navbar__link:hover, .navbar__link:active {
      color: #5DCB44;
      font-weight: 600; }
  .navbar__message {
    width: .8rem;
    height: .8rem;
    background-color: #B92933;
    border-radius: 50%;
    color: #efefef;
    position: absolute;
    left: 1.6rem; }

.submenu {
  list-style: none;
  margin: 0;
  padding-left: .3rem;
  padding-right: .3rem;
  background-color: #273D41;
  position: absolute;
  top: 2.8rem;
  right: 0;
  width: 10rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s linear; }
  .submenu--visible {
    opacity: 1;
    visibility: visible; }
  .submenu::before {
    content: '';
    position: absolute;
    top: -.6rem;
    right: .8rem;
    width: 0;
    height: 0;
    border-left: .6rem solid transparent;
    border-right: .6rem solid transparent;
    border-bottom: 0.6rem solid #273D41; }
  .submenu__element {
    border-bottom: 0.07rem solid #efefef;
    padding: .4rem .6rem; }
    .submenu__element:last-child {
      border-bottom: none; }
  .submenu__link {
    color: #efefef;
    text-decoration: none;
    cursor: pointer; }
    .submenu__link:hover, .submenu__link:active {
      color: #5DCB44;
      font-weight: 600; }

/* End navbar */
.container {
  padding: 4rem 3rem 2rem; }
  .container__header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .container__title {
    text-shadow: none;
    margin-bottom: 1.5rem;
    font-size: 3.5rem;
    color: #282E2C !important; }
  .container__card, .container__books {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .8rem;
    align-items: center; }
  .container--message {
    display: grid;
    max-height: 100vh;
    height: 100vh;
    padding: 5rem 1rem 1rem;
    grid-template-columns: repeat(3, 1fr); }

.card {
  background-color: #efefef;
  box-shadow: 0.1rem 0.3rem 1rem 0 rgba(0, 0, 0, 0.14);
  padding: 1rem;
  border-radius: .3rem; }
  .card--active .card__img {
    transform: scale(0) rotate(720deg); }
  .card--active .card__fullname {
    display: none; }
  .card--active .card__content {
    display: block; }
  .card--activeEnd .card__img {
    display: none; }
  .card--activeEnd .card__content {
    transform: scale(1); }
  .card__fullname {
    opacity: 1;
    transition: opacity .3s linear; }
  .card__img {
    width: 10rem;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    transform: scale(1) rotate(0);
    transition: transform .3s linear; }
    .card__img:hover {
      cursor: pointer;
      box-shadow: 0.1rem 0.3rem 1rem 0 rgba(0, 0, 0, 0.5); }
  .card__link {
    color: #273D41;
    margin: 0 .2rem; }
    .card__link:focus, .card__link:hover, .card__link:active {
      text-decoration: underline;
      color: #6196a0; }
  .card__content {
    display: none;
    transform: scale(0);
    transition: transform .3s linear; }
  .card__header {
    display: flex;
    justify-content: space-between; }
  .card__description {
    margin-top: .5rem;
    max-height: 10rem;
    overflow-y: auto; }

.chat {
  border: 0.05rem solid #191919;
  position: fixed;
  bottom: -24rem;
  right: 5rem;
  width: 16rem;
  background-color: #efefef;
  transition: bottom .4s linear; }
  .chat--show {
    bottom: 0; }
  .chat__header {
    background-color: #273D41;
    color: #efefef;
    display: flex;
    justify-content: space-between;
    padding: .3rem; }
  .chat__content {
    padding: .3rem .7rem;
    max-height: 17rem;
    overflow-y: auto; }
    .chat__content--big {
      height: calc(100vh - 197px);
      max-height: calc(100vh - 197px); }
  .chat__footer {
    padding: .4rem .7rem;
    border-top: 0.05rem solid #273D41; }
    .chat__footer .form__element + .btn {
      padding: 0 .5rem 0 .3rem; }
  .chat__message {
    margin: 0;
    padding: .3rem;
    margin-bottom: .5rem;
    border-radius: .2rem;
    width: 85%;
    position: relative;
    font-size: .9rem; }
    .chat__message::before {
      content: '';
      position: absolute;
      top: .4rem;
      border-top: .4rem solid transparent;
      border-bottom: .4rem solid transparent; }
    .chat__message--receiver {
      background-color: #c9e5c8;
      margin-left: 2rem; }
      .chat__message--receiver::before {
        right: -.5rem;
        border-left: 0.6rem solid #c9e5c8; }
    .chat__message--sender {
      background-color: #106f5c;
      color: #efefef; }
      .chat__message--sender::before {
        left: -.5rem;
        border-right: 0.6rem solid #106f5c; }

.containerMessages {
  border-right: 0.05rem solid #191919;
  padding-right: 1rem;
  padding-top: 1rem;
  overflow-y: auto; }

.listMessages {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1rem; }
  .listMessages__item {
    border-bottom: 0.05rem solid #191919;
    padding: .7rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color .25s linear; }
    .listMessages__item:hover {
      background-color: #1BBB9B;
      cursor: pointer; }
    .listMessages__item:last-child {
      border-bottom: none; }
    .listMessages__item--info {
      display: flex;
      align-items: center; }
  .listMessages__img {
    width: 2rem;
    border-radius: .3rem;
    margin-right: .5rem; }
  .listMessages__quantity {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: #5DCB44;
    text-align: center;
    font-weight: 600;
    color: #efefef; }

.containerChat {
  grid-column: 2/4;
  background-color: #efefef; }
  .containerChat__header {
    padding: 1rem;
    background-color: #273D41;
    color: #efefef;
    display: flex;
    align-items: center; }

.headerUser__img {
  width: 10rem;
  border-radius: .5rem;
  margin: .5rem 0; }

.headerUser__content {
  width: calc(100% - 20rem);
  margin: 0 auto;
  text-align: justify;
  margin-bottom: 1rem; }

/*
  Styles for the book effect.
  Adapted from the original https://tympanus.net/codrops/2013/07/11/animated-books-with-css-3d-transforms/
*/
.container__books {
  grid-template-columns: repeat(2, 1fr); }

.book__item {
  padding: 1rem;
  margin: .5rem auto; }

.book {
  position: relative;
  width: 14rem;
  height: 17rem;
  perspective: 62.5rem;
  transform-style: preserve-3d; }
  .book:hover > .book__front {
    -webkit-transform: rotateY(-145deg) translateZ(0);
    -moz-transform: rotateY(-145deg) translateZ(0);
    transform: rotateY(-145deg) translateZ(0);
    z-index: 0; }
  .book:hover > .book__pages li:nth-child(1) {
    -webkit-transform: rotateY(-30deg);
    -moz-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    transition-duration: 1.5s; }
  .book:hover > .book__pages li:nth-child(2) {
    -webkit-transform: rotateY(-35deg);
    -moz-transform: rotateY(-35deg);
    transform: rotateY(-35deg);
    -webkit-transition-duration: 1.8s;
    -moz-transition-duration: 1.8s;
    transition-duration: 1.8s; }
  .book:hover > .book__pages li:nth-child(3) {
    -webkit-transform: rotateY(-118deg);
    -moz-transform: rotateY(-118deg);
    transform: rotateY(-118deg);
    -webkit-transition-duration: 1.6s;
    -moz-transition-duration: 1.6s;
    transition-duration: 1.6s; }
  .book:hover > .book__pages li:nth-child(4) {
    -webkit-transform: rotateY(-130deg);
    -moz-transform: rotateY(-130deg);
    transform: rotateY(-130deg);
    -webkit-transition-duration: 1.4s;
    -moz-transition-duration: 1.4s;
    transition-duration: 1.4s; }
  .book:hover > .book__pages li:nth-child(5) {
    -webkit-transform: rotateY(-140deg);
    -moz-transform: rotateY(-140deg);
    transform: rotateY(-140deg);
    -webkit-transition-duration: 1.2s;
    -moz-transition-duration: 1.2s;
    transition-duration: 1.2s; }
  .book__cover {
    width: 100%;
    height: 100%; }
  .book__front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(-34deg) translateZ(0.6rem);
    z-index: 100;
    transform-origin: 0% 100%;
    transition: all 0.8s ease, z-index 0.6s; }
    .book__front li {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d; }
      .book__front li:first-child:before, .book__front li:last-child:before {
        background-color: #999;
        content: '';
        position: absolute;
        top: 0;
        left: 0; }
      .book__front li:first-child {
        background-color: #efefef;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        transform: translateZ(0.125rem); }
        .book__front li:first-child:before {
          height: 100%;
          transform: rotateY(90deg) translateZ(9.87rem) translateX(0.125rem); }
      .book__front li:last-child {
        background-color: #fffbec;
        transform: rotateY(180deg) translateZ(0.125rem); }
        .book__front li:last-child:before {
          height: 100%;
          box-shadow: 0 -1.87rem 1.87rem 1rem rgba(0, 0, 0, 0.4);
          transform: rotateX(90deg) rotateZ(90deg) translateZ(-8.75rem) translateX(-0.125rem) translateY(-4.8rem); }
  .book__pages {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    height: 98%;
    top: 1%;
    left: 3%;
    z-index: 10; }
    .book__pages li {
      background: linear-gradient(to right, #e1ddd8, #fffbf6);
      box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1), inset -1px 0px 1px rgba(150, 150, 150, 0.2);
      border-radius: 0 .4rem .4rem 0;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      transform-origin: left center;
      -webkit-transition-property: transform;
      -moz-transition-property: transform;
      transition-property: transform;
      -webkit-transition-timing-function: ease;
      -moz-transition-timing-function: ease;
      transition-timing-function: ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d; }
      .book__pages li:nth-child(1) {
        transform: rotateY(-28deg); }
      .book__pages li:nth-child(2) {
        transform: rotateY(-30deg); }
      .book__pages li:nth-child(3) {
        transform: rotateY(-32deg); }
      .book__pages li:nth-child(4) {
        transform: rotateY(-34deg); }
      .book__pages li:nth-child(5) {
        transform: rotateY(-36deg); }
      .book__pages li:nth-child(1), .book__pages li:nth-child(2), .book__pages li:nth-child(5) {
        transition-duration: 0.6s; }
      .book__pages li:nth-child(3) {
        transition-duration: 0.4s; }
      .book__pages li:nth-child(4) {
        transition-duration: 0.5s; }
  .book__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(-15deg) translateZ(-0.5rem);
    transform-origin: 0% 100%; }
    .book__back li {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d; }
      .book__back li:first-child, .book__back li:last-child {
        background-color: #fffbec; }
        .book__back li:first-child:after, .book__back li:first-child:before, .book__back li:last-child:after, .book__back li:last-child:before {
          background-color: #999;
          content: '';
          position: absolute;
          top: 0;
          left: 0; }
      .book__back li:first-child {
        transform: translateZ(0.125rem); }
        .book__back li:first-child:after, .book__back li:first-child:before {
          height: 100%; }
        .book__back li:first-child:after {
          transform: rotateY(90deg) translateZ(-0.125rem) translateX(0.125rem); }
        .book__back li:first-child:before {
          transform: rotateY(90deg) translateZ(9.875rem) translateX(0.125rem); }
      .book__back li:last-child {
        transform: translateZ(-0.125rem); }
        .book__back li:last-child:after, .book__back li:last-child:before {
          height: 100%; }
        .book__back li:last-child:after {
          transform: rotateX(90deg) rotateZ(90deg) translateZ(5rem) translateX(0.125rem) translateY(-4.78rem); }
        .book__back li:last-child:before {
          box-shadow: 10px -1px 5rem 20px #666;
          transform: rotateX(90deg) rotateZ(90deg) translateZ(-8.75rem) translateX(0.125rem) translateY(-4.875rem); }
  .book__guard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(60deg) translateX(-0.4rem) translateZ(-0.8rem);
    width: 1rem;
    z-index: 0; }
    .book__guard li {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d; }
      .book__guard li:first-child:after, .book__guard li:first-child:before, .book__guard li:last-child:after, .book__guard li:last-child:before {
        background-color: #999;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 4px; }
      .book__guard li:first-child {
        background-color: #eee;
        transform: translateZ(0.125rem); }
        .book__guard li:first-child:after, .book__guard li:first-child:before {
          height: 100%; }
        .book__guard li:first-child:after {
          transform: rotateY(90deg) translateZ(-0.125rem) translateX(0.125rem); }
        .book__guard li:first-child:before {
          transform: rotateY(-90deg) translateZ(-0.75rem); }
      .book__guard li:last-child {
        background-color: #333;
        transform: translateZ(-0.125rem); }
        .book__guard li:last-child:after, .book__guard li:last-child:before {
          height: 1rem; }
        .book__guard li:last-child:after {
          transform: rotateX(90deg) rotateZ(90deg) translateZ(0.5rem) translateX(0.125rem) translateY(-0.45rem); }
        .book__guard li:last-child:before {
          box-shadow: 0.31rem -0.01rem 6.25rem 2.5rem rgba(0, 0, 0, 0.2);
          transform: rotateX(90deg) rotateZ(90deg) translateZ(-13.12rem) translateX(0.125rem) translateY(-0.45rem); }

.centered__block {
  display: block;
  margin: auto; }

.mt-1 {
  margin-top: 1rem; }

.mt-0 {
  margin-top: 0; }

.m-0 {
  margin: 0; }

.hide {
  display: none; }

.centered__text {
  text-align: center; }

.pos__relative {
  position: relative; }

.no-link {
  text-decoration: none; }

.no__list {
  list-style: none;
  margin: 0;
  padding: 0; }

@media screen and (max-width: 60rem) {
  .container__card, .container__books {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 48rem) {
  .containerChat {
    grid-column: 1/4;
    margin-top: 1rem; }
  .containerMessages {
    height: 40vh;
    grid-column: 1/4; }
  .headerUser__content {
    width: 85%; } }

@media screen and (max-width: 40rem) {
  .container__card, .container__books {
    grid-template-columns: 1fr; }
  .headerUser__content {
    width: 100%; } }

@media screen and (max-width: 30rem) {
  .login__content {
    padding: 0 1rem !important; }
  .title--big {
    font-size: 3rem; } }

@media screen and (max-width: 30rem) {
  .navbar {
    flex-direction: column;
    align-items: flex-end; }
    .navbar__title {
      margin-right: 1rem; }
    .navbar__link {
      padding: 0 1rem; }
    .navbar .submenu {
      top: 2.3rem; }
  .container {
    padding: 8rem 1rem 1.5rem; }
    .container__title {
      font-size: 2.5rem; }
    .container__header {
      flex-direction: column;
      margin-bottom: .7rem; } }

/*# sourceMappingURL=style.css.map */